<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
<style>
    .active{
        color: red;
        font-size: 20px;
    }
    .pagination{
        display: flex;
        flex-direction: row;
    }
</style>
</head>
<body>
<h1>Categories</h1>
<div th:include="fragment/header::headerFragment"></div>

<a href="/categories/add" th:text="#{categories.create.category}"></a>
<table border="1px">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>action</th>
    </tr>
<tr th:each="category : ${categories.content}">
    <td th:text="${category.id}"></td>
    <td th:text="${category.name}"></td>
    <td><a th:href="@{/categories/remove(id=${category.id})}">Remove</a></td>
</tr>
</table>

<div class="pagination">
    <div th:if="${categories.totalPages > 0}"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/categories(size=${categories.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==categories.number + 1} ? active"></a>
    </div>
</div>

<div th:include="fragment/header::footerFragment"></div>

</body>
</html>
