<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<h1>Items</h1>
<div th:include="fragment/header::headerFragment"></div>

<a href="/items/add" >Create Item</a>
<table border="1px">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>author</th>
        <th>action</th>
    </tr>
<tr th:each="item : ${items}">
    <td th:text="${item.id}"></td>
    <td><a th:href="@{'/items/' + ${item.id}}"> <span th:text="${item.title}"></span></a></td>
    <td th:text="${item.user.name}"></td>
    <td><a th:href="@{/items/remove(id=${item.id})}">Remove</a></td>
</tr>
</table>
</body>
</html>
