<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single Item</title>
</head>
<body>
<div th:include="fragment/header::headerFragment"></div>

<a href="/items">Back</a>
<h2 th:text="${item.title}"></h2>
<img th:if="${item.getImgName() != null}" th:src="@{/getImage(imageName=${item.getImgName()})}" width="400"/>
<p th:text="${item.description}"></p>
category:<span th:if="${item.category != null}" th:text="${item.category.name}"></span><br>
tags:
<span th:each="tag:${item.hashtagList}" th:text="'#'+${tag.name}"></span><br>
comments:
<form action="/items/comment/add" method="post">
    <input type="hidden" name="item.id" th:value="${item.id}"/>
    <textarea name="commentText"></textarea>
    <input type="submit" value="add">
</form>
<div th:each="comment : ${comments}">
   Comment: <span th:text="${comment.commentText}"></span> <br>
    Comment Author: <span th:text="${comment.user.name}"></span>
   Date: <span th:text="${comment.commentDate}"></span>
</div>
</body>
</html>
